thead tr {
    background-color: #0a483b;
    color: #ffffff;
    text-align: left;
}

table {
    max-width: calc(100vw - 4rem);
    overflow-x: scroll;
    display: block;
    border-radius: 15px;
}

tr {
  display: table-row;
}

th, td {
    padding: 12px 15px !important;
}

td:first-child {
    background-color: #0a483b;
}

.hero h1, .subtitle {
    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.7), 0 0 10px rgba(0, 0, 0, 0.7), 0 0 20px rgba(0, 0, 0, 0.7), 0 0 40px rgba(0, 0, 0, 0.7), 0 0 80px rgba(0, 0, 0, 0.7), 0 0 90px rgba(0, 0, 0, 0.7), 0 0 100px rgba(0, 0, 0, 0.7), 0 0 150px rgba(0, 0, 0, 0.7);
}

/* Font Faces */
@font-face {
    font-family: 'OpenSauceOne';
    src: url('/otter-house/fonts/OpenSauceOne-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OpenSauceOne';
    src: url('/otter-house/fonts/OpenSauceOne-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@media (max-width:370px) {
    table th {
        display: table-cell;
        /* grid-template-columns: repeat(auto-fit, minmax(auto, 1fr)) */
    }
}


@media (max-width:420px) {
    table tr {
        display: table-row;
        /* grid-template-columns: repeat(auto-fit, minmax(auto, 1fr)) */
    }
}