{{ define "main" }}
    {{ $min := 1 }}{{ $max := .Site.Params.numImages }}{{ $randomNumber := (add (mul (math.Rand) (add (sub $max $min) 1)) $min) | int }}

    <section class="hero"
    style='background-image: url("{{ with .Params.image }}{{ . }}{{ else }}/images/{{ $randomNumber }}.jpg{{ end }}"); background-size: cover; background-position: center; background-repeat: no-repeat; width: 100%; opacity: 0.7;'
    id="heroSection">
        <div>
            <h1 class="p-name" id="textOverlay">{{ .Title }}</h1>
        </div>
    </section>
    <main class="post h-entry container row">
        <div class="post">
            <div class="post-data row">
                <time class="dt-published" datetime="{{ .Date }}">
                    <a class="u-url" href="{{ .Permalink }}">{{ .Date | time.Format ":date_medium" }}</a>
                </time>
                <span rel="author" class="p-author h-card">
                    <img class="u-photo hidden" src="{{ with $.Site.Author.image }}{{ . }}{{ else }}{{ end }}" />
                    <span class="p-name hidden" rel="me">{{ with .Params.author }}{{ . }}{{ else }}{{ $.Site.Author.name }}{{ end }}</span>
                </span>
            </div>
            <div class="e-content">
                {{ .Content }}
                {{ with .Params.tags }}
                <span class="tag-container">
                    {{ range . }}
                    <a class="p-category tag" href="{{ "tags/" | relURL }}{{ . | urlize }}/">
                        {{ . }}
                    </a>&nbsp;
                    {{ end }}
                </span>
                {{ end }}
            </div>
        </div>
        {{ if .Site.Params.useToc }}
            {{ $headingsCount := replaceRE "[^0-9]" "" (trim (partial "count-headings.html" .Content) " \n\r") }}
            {{ $headingsCountInt := int $headingsCount }}
            {{ $multiHeading := ge $headingsCount 1 }}
            {{ if $multiHeading }}
                <aside class="tableOfContentContainer" id="tableOfContentContainer">
                    <h3>Table of Contents</h3>
                    {{ .TableOfContents }}
                </aside>
            {{ end }}
        {{ end }}
    </main>
    <script>
        window.addEventListener('DOMContentLoaded', () => {
            const observerForTableOfContentActiveState = new IntersectionObserver(entries => {
                entries.forEach(entry => {
                    const id = entry
                        .target
                        .getAttribute('id');

                    if (entry.intersectionRatio > 0) {
                        clearActiveStatesInTableOfContents();
                        document
                            .querySelector(`nav li a[href="#${id}"]`)
                            .parentElement
                            .classList
                            .add('active');
                    }
                });
            });
            document
                .querySelectorAll('h1[id],h2[id],h3[id],h4[id]')
                .forEach((section) => {
                    observerForTableOfContentActiveState.observe(section);
                });

        });

        function clearActiveStatesInTableOfContents() {
            document
                .querySelectorAll('nav li')
                .forEach((section) => {
                    section
                        .classList
                        .remove('active');
                });
        }
    </script>
{{ end }}
