{{ define "main" }}
    <section class="hero"
    style='background-image: url("{{ .Params.image }}"); background-size: cover; background-position: 45%; background-repeat: no-repeat; width: 100%; opacity: 0.7;'
    id="heroSection">
        <h1 class="p-name" id="textOverlay">{{ .Title }}</h1>
        <p class="subtitle" id="textOverlayDesc">{{ .Params.description }}</p>
        <p>{{ .Content }}</p>
    </section>
    <main class="h-entry e-content container col">
        {{ partial "cards" . }}
    </main>
{{ end }}